node_modules/
__pycache__/
*.pyc
**/gorsel_ders_notlari/preview/
**/gorsel_ders_notlari/_render.js
**/gorsel_ders_notlari/_olcum*.html
**/gorsel_ders_notlari/_kal*.html
**/gorsel_ders_notlari/_olcum.js
**/gorsel_ders_notlari/_kal.js
